html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* color: white; */
}
div {
  margin: 0;
  padding: 0;
}

.btn-file{
  position:relative;
  overflow: hidden;
}
.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: block;
}
.primary-color {
  background-color: #0f3741;
}

.primary-color-text {
  color: #0f3741;
}

.secondary-color {
  background-color: #790604;
}

.secondary-color-text {
  color: #790604;
}

.valign-wrapper {
  min-height: calc(100vh - 30px);
}

.modal-valign-wrapper {
  min-height: calc(43vh - 30px);
}

.valign {
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.output {
  overflow: auto;
  min-height: auto;
  max-height: 50vh;
  width: auto;
  clear: both;
  margin: 15px;
}

.dropdown-content {
  max-height: 375%;
}

.tabs .indicator {
  background-color: #790604
}

.modal {
  max-height: 100% !important;
  overflow: visible;
}
