html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* color: white; */
}
div {
  margin: 0;
  padding: 0;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: block;
}
.brand-color {
  background-color: #0f3741;
}

.valign-wrapper {
  min-height: calc(100vh - 30px);
}

.valign {
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
}
