<nav style = "height: 90px; ;line-height: 90px; background-color: #0f3741;">
    <div class="nav-wrapper">
    <div class = "container">
      <a href="/" class="brand-logo">Ada Tech.</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a style = "font-size: 17pt;" href="/features">Home</a></li>
            <li><a style = "font-size: 17pt;" href="/login">Login</a></li>
            <li><a style = "font-size: 17pt;" href="/register">Register</a></li>
        </ul>
    </div>
  </div>
</nav>
